.buttonAddArea {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    overflow: scroll;
    width: 90%;
}

.gridList::-webkit-scrollbar {
    display: none;
}

.listItemContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 10px;
}

.headerRowList {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.listItemLogo {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.bodyListItemFirst {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    border: 1px solid #252525;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

.bodyListItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    border-left: 1px solid #252525;
    border-right: 1px solid #252525;
    border-bottom: 1px solid #252525;
    padding: 10px;
}

.bodyListItemLast {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    border-left: 1px solid #252525;
    border-right: 1px solid #252525;
    border-bottom: 1px solid #252525;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

.bodyListItemFirst, .bodyListItem, .bodyListItemLast {
    cursor: pointer;
}

.bodyListItemFirst:hover, .bodyListItem:hover, .bodyListItemLast:hover {
    background-color: rgb(234, 234, 234)
}

.actionSelected {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(234, 234, 234);
}

.buttonBack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 10px;
    margin-right: 20px;
    border-radius: 20px;
    border: none;
    background-color: rgb(234, 234, 234);
}

.buttonBack:hover {
    background-color: rgb(200, 200, 200);
}

.buttonBack:active {
    background-color: rgb(234, 234, 234);
}

.buttonSubmitAddArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #0000FF;
    color: #FFF;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    font-size: 15px;
}

.buttonSubmitAddArea:hover {
    background-color: #0000ea;
}

.buttonSubmitAddArea:active {
    background-color: #0000e6;
}
