.topbarContainer {
    height: 80px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.topbarRightPart {
    display: flex;
    align-items: center;
}

.logoTopbar {
    width: 60px;
    height: 60px;
}

.topbarTitle {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}

.topbarLeftPart {
    display: flex;
    align-items: center;
}

.topbarInfosButton {
    border-radius: 50px;
    font-size: 20px;
    background-color: #252525;
    border: none;
    outline: none;
}

.topbarInfosButton:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #0000de;
}

.topbarInfosButton:active {
    color: #0000de;
}

.popupInfosUser {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 300px;
    height: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 999;
}

.popupInfosTexteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.popupInfosTitle {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.popupInfosSubtitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.listItemLogo {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.bodyListItemFirst {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 90%;
    border: 1px solid #252525;
    padding: 10px;
}

.bodyListItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 90%;
    border-left: 1px solid #252525;
    border-right: 1px solid #252525;
    border-bottom: 1px solid #252525;
    padding: 10px;
}

.bodyListItemFirst, .bodyListItem {
    cursor: pointer;
}

.bodyListItemFirst:hover, .bodyListItem:hover {
    background-color: rgb(234, 234, 234)
}
